* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightsalmon;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin : 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-weight: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px ;
}

.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin : 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: grey;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#nextbtn {
    background: black;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin : 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: rgb(34, 165, 34);
}

.incorrect {
    background-color:rgb(240, 95, 95);
}